.home-template{

    .header.fixed +  main{
        .home{
           margin-top: 200px;
            transition: none;
        }
       
    }


    padding: 0 0px;
    @include Responsive(MD){
        padding: 0 80px;
    }
}