.lazyload-wrapper {
  width: 320px;
  margin: 0 auto;

  @include Responsive(XL) {
    width: 260px;
  }

  @include Responsive(XXL) {
    width: 320px;
  }

  @include Responsive(XXXL) {
    width: 280px;
  }

  .card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    .card-img {
      position: relative;
      width: 100%;
      display: flex;
      transition: all 0.5s;
      height: 280px;

      &:hover .swiper-button-next {
        opacity: 1;
        content: "";
      }
      &:hover .swiper-button-prev {
        opacity: 1;
        content: "";
      }

      .swiper-button-next {
        background-image: url(../../assest/image/arrow-right.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        background-color: #fff;
        transform: translateY(-25%);
        width: 20px;
        height: 20px;
        right: 10px;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.5s ease;
      }

      .swiper-button-next::after {
        content: "";
      }

      .swiper-button-prev {
        background-image: url(../../assest/image/back.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        background-color: #fff;
        transform: translateY(-25%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 10px;
        opacity: 0;
        transition: all 0.5s ease;
      }

      .swiper-button-prev::after {
        content: "";
      }

      .swiper-pagination-bullet-active-main {
        background-color: white;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 5% 60%;
      overflow: hidden;
      border-radius: 10px;

      @include Responsive(XXL) {
      }
      @include Responsive(XXXL) {
        height: 250px;
      }
    }
    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0;
      .name {
        font-weight: bold;
        transform: translateX();
      }
      .star {
      }
    }
    .price {
      font-weight: bold;
      margin: 10px 0;
    }
    .description {
      color: $textSub;
      margin: 5px 0;
    }
    .date {
      color: $textSub;
      margin: 5px 0;
    }
    .heart {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;

      .heart-icon-fill {
        font-size: 25px;
        color: red;
      }
      .heart-icon-outline {
        display: block;
        fill: rgba(0, 0, 0, 0.5);
        height: 24px;
        width: 24px;
        stroke: var(--f-mkcy-f);
        stroke-width: 2;
        overflow: visible;
        stroke: white;
      }
    }
    .prev,
    .next {
      position: absolute;
      top: 30%;
      background-color: white;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      opacity: 0;
      transition: all 0.5s;
      margin: 0 10px;

      .prev-icon {
        font-size: 25px;
        padding: 5px;
      }
    }
    .next {
      right: 0;
      color: red;
      .next-icon {
        font-size: 25px;
        padding: 5px;
      }
    }
    &:hover .next {
      opacity: 1;
    }
    &:hover .prev {
      opacity: 1;
    }
  }
}
