.modal-wrapper {
  top: 10%;
  left: 0;
  z-index: 2050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  .modal {
    z-index: 1000;

    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    width: 100%;

    @include Responsive(MD) {
      width: 500px;
    }
    padding: 10px;
    .modal-header {
      position: relative;
      padding-bottom: 20px;
      h1 {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
      }

      img {
        top: 0;
        position: absolute;
      }
    }
    .modal-body {
      padding: 20px 0;
      h1 {
        font-size: 18px;
      }

      .form {
        .form-group {
          margin: 20px 0;
          position: relative;
          p {
            margin: 5px 0;
          }
          input {
            border: 1px solid $border;
            padding: 10px 20px;
            width: 100%;
            border-radius: 8px;
          }
          .gender {
            display: flex;
          }
          .error {
            color: red;
            font-size: 12px;
            position: absolute;
          }
          .password {
            position: relative;
            span {
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-40%);
              .password-icon {
                font-size: 18px;
              }
            }
          }
        }

        .form-button {
          display: flex;
          align-items: center;
          p {
            flex: 1;
            color: red;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          .login-button {
            flex: 2;
            background: linear-gradient(
              to right,
              rgb(230, 30, 77) 0%,
              rgb(227, 28, 95) 50%,
              rgb(215, 4, 102) 100%
            );
            color: white;
            width: 100%;
            padding: 15px 0;
            border-radius: 10px;

            &:active {
              @include Active-button;
            }
          }
        }
        .form-bottom {
          padding-top: 20px;
          text-align: center;
          span {
            color: $mainColor;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.button-default {
  background: #247ba0;
  color: #fff;
}
