@import "./variable";
// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (min-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  } @else if $canvas == XXL {
    @media only screen and (min-width: $XXL) {
      @content;
    }
  } @else if $canvas == XXXL {
    @media only screen and (min-width: $XXXL) {
      @content;
    }
  }
}

@mixin Active-button {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
