
// Breack point
$XS:     480px;   
$SM:     768px;  
$MD:    1024px;   
$XL:   1280px;     
$XXL:   1530px;     
$XXXL:   1920px;     
   


$text: #222;
$text-white:white;
$textSub:#717171;
$mainColor:#FF385C;
$border:#dddddd;
$hoverColor:#f7f7f7;
$box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);